rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{spaceId}/seasons/{seasonYear} {
      allow read, write: if spaceId == '2q5y511n271yw5y6o321'
                          && seasonYear.matches('^[0-9]{4}$');
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
